.margen {
  margin: 2%;
}
.color {
  color: blue;
}
.tono {
  color: crimson;
}
.escritura {
  color: darkmagenta;
}
.borde {
  border-radius: 20px;
  background: #ee9835;
  padding: 20px;
  width: 37%;
}
