/* Pantalla del celular */

@media (max-width: 600px) {
  body {
    background-color: rgb(226, 218, 214);
  }

  .orientation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    padding: 30px;
    background-color: rgb(127, 161, 195);
  }

  header {
    display: flex;
    height: 70px;
  }
  header h2{
    margin-left: 0;
    flex-grow: 1;
  }
  footer {
    background-color: rgb(100, 130, 173);
    color: rgb(226, 218, 214);
    text-align: center;
    padding: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  form input,
  form textarea {
    margin-bottom: 10px;
    background-color: rgb(226, 218, 214);
    color: black;
  }
  form button {
    background-color: rgb(226, 218, 214);
    color: black;
  }

  nav {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(226, 218, 214);
  }
  .separación {
    margin: 1%;
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in {
    animation: slideIn 1s ease-out;
  }
  .slide-in:nth-child(1) {
    animation-delay: 0.2s;
  }

  .slide-in:nth-child(2) {
    animation-delay: 0.3s; /* Ajusta el retraso como desees */
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 1s ease-out forwards; /* Ajusta la duración y el tipo de animación según sea necesario */
  }
}

/* Pantalla de la PC */
/* Pantalla de la PC */
@media (min-width: 601px) {
  body {
    background-color: rgb(226, 218, 214);
  }

  .orientation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 50px;
    background-color: rgb(127, 161, 195);
  }

  header {
    display: flex;
    justify-content: space-between; /* Coloca el h2 a la izquierda y la lista a la derecha */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 10px;
  }
  
  h2 {
    margin: 0; /* Asegura que no haya márgenes extras en el h2 */
  }
  
  nav {
    flex-grow: 1; /* Esto hace que la navegación ocupe todo el espacio restante */
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end; /* Alinea los elementos de la lista hacia la derecha */
  }
  
  nav ul li {
    margin-right: 10px; /* Espaciado entre los elementos de la lista */
  }
  
  footer {
    background-color: rgb(100, 130, 173);
    color: rgb(226, 218, 214);
    text-align: center;
    padding: 10px;
  }

  nav {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(226, 218, 214);
  }

  .separación {
    padding: 30px;
  }

  .lisra_separación {
    padding: 10px;
  }

  .tamañoLetra{
    font-size: 70px;
    color: rgb(100, 130, 173);
  }

  .list-horizontal {
    display: flex;
    flex-direction: row;
    list-style-type: none; /* Opcional: quita los puntos de la lista */
    justify-content: flex-end;
  }

  .list-horizontal li {
    margin-right: 10px; /* Ajusta el espacio entre los elementos */
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in {
    animation: slideIn 1s ease-out;
  }

  .slide-in:nth-child(1) {
    animation-delay: 0.2s;
  }

  .slide-in:nth-child(2) {
    animation-delay: 0.3s; /* Ajusta el retraso como desees */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .home-firt{
    min-height: 100pv;
    padding: 10rem 12%;
  }
  .home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
  }
  .home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
  }
  .home-content h3{
    font-size: 4rem;
    margin: 1rem 0;
  }
  .home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
  }
  .home-img img{
    width: 32vw;
    border-radius: 50%;
  }

  .proyecto-img{
    width: 22vw;

  }
  .proyecto-grupo{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    gap: 2rem;
  }

}


form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 10px;
  background-color: rgb(226, 218, 214);
  color: black;
}

form button {
  background-color: rgb(226, 218, 214);
  color: black;
}
