.aliniamiento{
    text-align:center;
}

.fondoPagina{
    background-image: url('images.jpeg');
}

.grilla{
    display: grid;
    /*grid-template-columns: 250px 250px 250px;*/ /* Como generar disposicion basicas las columnas de una grilla*/
    /* grid-template-columns: repeat(3,250px); */

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    /*grid-template-rows: 350px;*/
    
    grid-auto-rows: auto;
    gap: 20px;
}
.fotoDinamica{
    width: 90%;
    aspect-ratio: 2 / 3 ; /*Puede ser opcional -> darle estroctura a la foto si es widescreen o si es tipo retrato*/
    object-fit: cover;
}

.colorFondo{
    background-color: aqua;
}

.aliniamientoFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borde{
    border-radius: 25px;
    background: #69dfe7;
    padding: 20px;
    width: 90%;
   
}